.slider {
	.slider__owl__carousel li {
		position: relative;
		.item__background img {
			background: #afafaf; /* Old browsers */
			background: -moz-linear-gradient(top, #afafaf 0%, #000000 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #afafaf 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #afafaf 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		}
		.item__text {
			margin: 0px 4vw;
			a {
				font-size: 5.35vw;
				line-height: $font-height;
				color: #ffffff;
				position: absolute;
				bottom: 25%;
				font-weight: 300;
				right: 38px;
				left: 4vw;
			}
			small a {
				font-size: 3.2vw;
				color: #ffffff;
				position: absolute;
				bottom: 11%;
				font-weight: 300;
			}
		}
	}
}